:root {
  /* --bg-color: rgb(68, 64, 60); */
  --bg-color: #57534e;
  --dark-green: #769656;
}

.topDiv {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}
.toggleInfoDiv {
  height: 2.5vw;
  aspect-ratio: 1/1;
  max-height: 25px;
  min-height: 1rem;
  position: relative;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggleInfoDiv img {
  width: 70%;
  height: 70%;
}
.toggleInfoPar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: fit-content;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  position: relative;
  margin: 0;
  border-radius: 3px;
}

.toggleBox {
  margin: 0;
  width: 6%;
  max-width: 60px;
  min-width: 40px;
  aspect-ratio: 2/1.2;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  aspect-ratio: 1/1;
  left: 5%;
  bottom: 10%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--dark-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(85%);
  -ms-transform: translateX(85%);
  transform: translateX(85%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
